<p>
  Written by <a href="http://twitter.com/caridy">@caridy</a> | {{article.formatted_date}}
  {{#if article.tags}}
  <br/>Tags:
  {{#article.tags}}
    <a href="/blog/tag/{{.}}/">{{.}}</a>,
  {{/article.tags}}
  <a href="/blog/archives/">all</a>
  {{/if}}
</p>
