<div>
  <h1>404: Sorry, whatever you're looking for, it is not here!</h1>
  <a href="/blog/archives/">Try in the archives</a>, or look in my <a href="http://github.com/caridy">github</a> for legacy stuff.
</div>