<section id="archives">
    <h2>Archives tagged with <i>"{{tag}}"</i></h2>
    <ul>
        {{#articles}}
        <li><a href="{{path}}">{{title}}</a><br/>{{formatted_date}}</li>
        {{/articles}}
    </ul>
</section>
